<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Liste des programmes</h2>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter un programme" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()" [disabled]="loading"></button>

                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="programs" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher"
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="label">Libelé<p-sortIcon field="label"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="date">Date de création <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="updated">Date de dernière mise à jour<p-sortIcon
                                field="updated"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-program>
                    <tr *ngIf="!loading">
                        <td style="width:15%; min-width:10rem;"><span class="p-column-title">Libelé</span>
                            {{program?.label}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{program?.description}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Date de création</span>
                            {{program?.dates?.created | date}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Date de dernière mise à jour</span>
                            {{program?.dates?.updated | date}}
                        </td>
                        <td>
                            <div class="flex">

                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="editProgram(program)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteProgram(program)"></button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="loading">
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                        <td style="width:15%; min-width:10rem;"><p-skeleton></p-skeleton></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="programDialog" [style]="{width: '450px'}"
            header="{{program._id ? 'Edition': 'Ajout'}} d'un programme" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="label">Libelé</label>
                    <input type="text" pInputText id="label" [(ngModel)]="program.label" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !program.label}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !program.label">Libelé requis.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea rows="5" cols="30" id="description" [(ngModel)]="program.description" name="description"
                        placeholder="Description"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !program.description}" pInputTextarea
                        [disabled]="loading"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !program.description">Description
                        requis.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
                    (click)="saveProgram()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProgramDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="program">Etes vous sûr de supprimer le programme<b>{{program?.label}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
                    (click)="deleteProgramialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>