<div class="layout-topbar">
    <div class="layout-topbar-logo">
        <img src="assets/layout/images/logo.png" alt="logo">
        <button #menubutton class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>

        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>
    </div>


    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-avatar [label]="getAvatar()" styleClass="mr-5" size="large" [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"
            (click)="menu.toggle($event)" shape="circle"></p-avatar>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
    </div>
</div>